/* Import Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; /* Ensure background color when sticky */
    border-bottom: 1px solid #ddd;
}

.text-truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}